<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gipi</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gipi_app/css/style.css' %}">
</head>
<body>
    <nav>
        {% if user.authenticated %}
            <button id="uploadMockData" style="background-color: red">Upload Mock Data</button>
            <span>Welcome, {{ user.username }}!</span>
            <button id="logOutBtn">Log out</button>
        {% endif %}
    </nav>
    <div id="container">
        {% if not user.authenticated %}
            <div id="welcome">
                <img id="welcomeImage" src="{% static 'gipi_app/img/background.jpeg' %}"  alt="image"/>
                <div id="welcomeContainer">
                    <span>Welcome to Gipi!</span>
                    <div id="welcomeButtons">
                        <button id="signUpBtn" class="welcomeButton">Sign up</button>
                        <button id="logInBtn" class="welcomeButton">Log in</button>
                    </div>
                </div>
            </div>
        {% else %}
            <button id="record" data-action="start">Start the journey!</button>
            <img id="startVoiceRecordButton" src="{% static 'gipi_app/img/start_record2.png' %}" alt="Start voice recording" />
            <img id="stopVoiceRecordButton" src="{% static 'gipi_app/img/start_record2.png' %}" alt="Stop voice recording" />
            <div id="answer"></div>
            <div id="uploadMockDataMessages"></div>
        {% endif %}
    </div>

    {% if user.authenticated %}
        <script src="{% static 'gipi_app/js/recorder.js' %}"></script>
    {% endif %}

    {% csrf_token %}
    <script src="{% static 'gipi_app/js/index.js' %}"></script>
</body>
</html>
