<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gipi</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gipi_app/css/style.css' %}">
</head>
<body>
    <nav>
        {% if not user.authenticated %}
            <button id="signUpBtn">Sign up</button>
            <button id="logInBtn">Log in</button>
        {% else %}
            <span>Welcome, {{ user.username }}!</span>
            <button id="logOutBtn">Log out</button>
        {% endif %}
    </nav>
    <div id="container">
        {% if not user.authenticated %}
            <span>Please <a href="/login">log in</a> or <a href="/signUp">sign up</a> to continue!</span>
        {% else %}
            <button id="record" data-action="start">Start the journey!</button>
            <img id="startVoiceRecordButton" src="{% static 'gipi_app/img/start_record.png' %}" alt="Start voice recording" />
            <img id="stopVoiceRecordButton" src="{% static 'gipi_app/img/stop_record.png' %}" alt="Stop voice recording" />
            <div id="answer"></div>
        {% endif %}
    </div>

    {% if user.authenticated %}
        <script src="{% static 'gipi_app/js/recorder.js' %}"></script>
    {% endif %}

    {% csrf_token %}
    <script src="{% static 'gipi_app/js/index.js' %}"></script>
</body>
</html>
