<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gipi - Login</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gipi_app/css/style.css' %}">
</head>
<body>
    <div id="container">
        <form id="loginForm">
            <label>Username
                <input id="inUsername" type="text" name="username" placeholder="Username" required />
            </label>
            <label>Password
                <input id="inPassword" type="password" name="password" placeholder="Password" required />
            </label>

            <button type="submit" name="submit">Log In</button>
        </form>
        <p id="loginMessage"></p>
    </div>

    {% csrf_token %}
    <script src="{% static 'gipi_app/js/registration.js' %}"></script>
</body>
</html>
