@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    background-color: #4c4c4c;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    box-shadow: #282727 0 2px 5px;
    color: white;
}

nav > button {
    margin: 0 0.5rem;
}

#container {
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button {
    width: 4rem;
    border: #282727 solid 1px;
    border-radius: 5%;
    height: 2rem;
    background-color: #f8faf7;
    color: #282727;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

#record {
    width: 8rem;
    margin-bottom: 2rem;
}

button:hover {
    background-color: #d5d7d4;
}

button:active {
    color: #f8faf7;
    background-color: #282727;
}

#loginMessage, #signupMessage {
    color: #bc0000;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

form input {
    margin-bottom: 0.5rem;
    width: 9.5rem;
    height: 2rem;
}

#startVoiceRecordButton, #stopVoiceRecordButton {
    width: 5rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

#stopVoiceRecordButton {
    display: none;
    filter: brightness(85%);
}

#uploadMockData {
    background-color: #8e0000;
    color: #eaeaea;
    margin-right: 40px;
    width: 8rem;
}

#uploadMockDataMessages {
    position: absolute;
    top: 5rem;
    width: 100%;
    font-size: 1.5rem;
}

#welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: #4c4c4c;
    border: 2px #262626 solid;
    border-radius: 5%;
    color: white;
    font-size: 1.5rem;

}

#welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#welcomeImage {
    height: 300px;
}

#welcomeButtons {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.welcomeButton {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 5%;
}

label {
    font-size: 1rem;
}

.errorMessages {
    font-size: 1rem;
}

#registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-right: 10rem;
}
